article {
  padding: 14px;
  margin: 24px;
  box-shadow: 1px 1px 4px #f4f4f4;
}

.jt-pagination-container {
  padding: 24px;
  border: solid 1px #333;
}

nav.sample1Class button {
  border-radius: 4px;
  background: transparent;
  border: 0;
  border-bottom: solid 4px transparent;
  transition: all 0.3s;
}

nav.sample1Class button.here {
  background: transparent;
  color: #333;
  border: 0;
  border-bottom: solid 4px #f06d06;
}