ul.jt-pagination {
  display: flex;
  margin: 10px 0;
}

ul.jt-pagination li {
  padding: 6px 14px;
  border: solid 1px #f9f9f9;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
}

ul.jt-pagination li.here,
ul.jt-pagination li:hover {
  background: #333;
  color: #fff;
}